/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .hero .action-button 
  background-color: #61dafb !important
  border-bottom:1px solid #61dafb !important
  color: #000 !important

.navbar 
  background-color: #20232a !important

.navbar .site-name 
  color: #61dafb !important

.navbar .links 
  background-color: #20232a !important

.nav-item > a:not(.external):hover
  border-bottom:2px solid #61dafb !important

.nav-item > a:not(.external).router-link-active
  border-bottom:2px solid #61dafb !important   

a.sidebar-link.active {
    color: #61dafb !important;
    border-left-color: #61dafb !important;
}

a.sidebar-link:hover {
    color: #61dafb !important;
}

a {
    font-weight: 500;
    color: #61dafb !important;
    text-decoration: none;
}
a.sidebar-link {
    color: #2c3e50 !important;
}
.nav-links a.router-link-active {
    color: #fff !important;
}
